<h2><%= t("community.topic.sidebar.recommendations_title") %></h2>

<ul class="recommendations">
  <li><%= g("community.topic.sidebar.recommendation_one") %></li>
  <li><%= g("community.topic.sidebar.recommendation_two") %></li>
  <li><%= g("community.topic.sidebar.recommendation_three") %></li>
</ul>
